p.short-body {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.preview {
    width: 100%;
    height: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.job {
    background: #c9ffd0;
}

.accommodation {
    background: #f7f8b2;
}

/*fix Bootstrap*/
.btn-outline-secondary {
    color: #8e8e8e;
    border-color: #8e8e8e;
}